<!DOCTYPE HTML>
<html>
<head>
  <title>Spring Boot Web Service</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Start Web Service</h1>
</body>
</html>
